# MacOS
.DS_Store

# dotenv environment variables file
.env

# python debris
__pycache__/
*.pyc
.venv/
.biomed_venv/
venv/

# Docker
.dockerignore
Dockerfile
docker-compose.yaml

# Langchain
.langchain/

# Neo4j
neo4j_data/
neo4j_logs/
neo4j_plugins/
*.db

# chainlit
.chainlit

# models
*.gguf

# Anaconda
*~
*.pyc
*.egg-info
build/
dist/
docs/_build
docs/source/dev-guide/api
docs/source/dev-guide/umls/*.puml
.cache/
.idea/
ve/
MANIFEST
.coverage
coverage.xml
.tox/
junit.xml
tmpfile.rc
.DS_Store
.coverage*
*.bz2
tempfile.rc
conda-build/
conda_build_test_recipe/
record.txt
.vagrant/
Vagrantfile
dev-init.bat
devenv/
Miniconda*.sh
miniconda*.sh
miniconda*.exe
.pytest_cache/
**/.vscode
conda.tmp/
*.iml
*.ipr
*.iws
test-report.xml

# default pytest duration files
.test_durations

# Rever
rever/

# setuptools-scm
conda/_version.py